@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mobile.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-mobile-2x.jpg);
    }
  }
  .container {
    max-width: 426px;
  }
  .team-container {
    max-width: 294px;
  }
  .adress-mobile-menu-link {
    font-size: 36px;
  }
  .mob-soc-list {
    gap: 56px;
  }
  .modal {
    width: 392px;
    height: 586px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tablet-2x.jpg);
    }
  }
  .container {
    max-width: 766px;
  }
  .mobile-menu-open {
    display: none;
  }
  .nav {
    box-sizing: content-box;
  }
  .logo {
    padding: 24px 16px;
  }
  .menu-list {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    position: relative;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);
    display: block;
    padding: 24px 0;
    transition: color var(--transition);
  }
  .menu-link:is(:hover, :focus) {
    color: var(--link-accent);
  }
  .active {
    color: var(--link-accent);
  }
  .active:after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .adress {
    display: flex;
    align-items: center;
  }
  .adress-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .adress-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color var(--transition);
  }

  .adress-link:is(:hover, :focus) {
    color: var(--link-accent);
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
    column-gap: 24px;
    row-gap: 72px;
  }
  .features-title {
    justify-content: start;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-item:not(:last-child) {
    margin-bottom: 0;
  }
  .team-container {
    max-width: 582px;
  }
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .customers-container {
    max-width: 582px;
  }
  .customers-list {
    column-gap: 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  .footer-subscribe {
    min-width: 453px;
    padding-right: 0;
  }
  .subscribe-title {
    justify-content: left;
  }
  .subscribe-input {
    margin-right: 24px;
    margin-bottom: 0;
  }
  .footer-logo {
    justify-content: left;
  }
  .footer-container {
    align-items: baseline;
  }
  .footer-logo-container {
    margin-right: 24px;
  }
  .footer-soc-text {
    justify-content: left;
  }
  .modal {
    width: 408px;
    height: 586px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-background-2x.jpg);
    }
  }
  .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .menu-list {
    display: flex;
  }
  .adress-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .adress-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .hero-container {
    padding-top: 68px;
    padding-bottom: 68px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    justify-content: left;
  }
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .features-item {
    max-width: 264px;
  }
  .features-item:not(:last-child) {
    margin-bottom: 0;
  }
  .features-link {
    width: 264px;
    height: 112px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bcg-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .features-text {
    font-weight: 400;
    line-height: 1.5;
  }
  .work-examples {
    display: block;
    padding-bottom: 120px;
  }
  .examples-list {
    display: flex;
    gap: 24px;
  }
  .examples-item {
    display: flex;
    width: calc((100% - 48px) / 3);
  }
  .team-container {
    max-width: 1158px;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .footer-logo-container {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-soc-container {
    margin-right: 80px;
  }
  .modal {
    height: 584px;
  }
}
